services:
  notifications-processor:
    image: notifications-event-processor:latest
    container_name: notifications-event-processor
    build:
      context: .
      dockerfile: FCG.Notifications.EventProcessor/Dockerfile
    environment:
      - DOTNET_ENVIRONMENT=Development
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Username=guest
      - RabbitMQ__Password=guest
    networks:
      - fcg_fcg-network
    restart: on-failure

networks:
  fcg_fcg-network:
    external: true
