services:
  # 1. Serviço de Mensageria
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-container
    ports:
      - "5672:5672"   # Porta do protocolo AMQP
      - "15672:15672" # Interface visual (Management)
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  # 2. Sua API de Notificações
  notifications-api:
    image: notifications-api:latest
    build:
      context: .
      dockerfile: FCG.Notifications.API/Dockerfile
    container_name: notifications-api
    ports:
      - "5000:8080" # Acesso local na porta 5000, container na 8080
    environment:
      - RabbitMq__Host=rabbitmq-container
      - RabbitMq__Username=guest
      - RabbitMq__Password=guest
    depends_on:
      - rabbitmq